@font-face {
    font-family: 'SFD';
    src: url('/assets/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SFDBold';
    src: url('/assets/SF-Pro-Display-Bold.otf') format('opentype');
}

.tabs {
    background-color: #120036;
    color: #FFFFFF;
    border: #FFFFFF;
    border: transparent;
    font-family: "SFDBold";
    font-size: 20px;
}

.tabs:hover {
    background-color: #120036;
    color: #FFFFFF;
    border: #FFFFFF;
    border: transparent;
    text-decoration: underline;
    font-family: "SFDBold";
    font-size: 20px;
    cursor: pointer
}

body {
    color: white;
    background-color: #120036;
    font-family: "SFD";
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
}

button {
    background-color: #120036;
    color: #FFFFFF;
    border: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px;
    font-family: "SFDBold";
}

#nav {
    scale: 1.2;
    padding: 5px 5px;
    border-radius: 100px;
}

#gootles {
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 100vh;
}

h1 {
    font-family: "SFDBold";
}

#navbox {
    display: flex;
    justify-content: center;
}

#foots {
    border: 5px dashed #2e0089;
    width: 100%;
}

#footer {
    color: #FFFFFF;
}