@font-face {
    font-family: 'SFD';
    src: url('/assets/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SFDBold';
    src: url('/assets/SF-Pro-Display-Bold.otf') format('opentype');
}

.tabs {
    background-color: #120036;
    color: #FFFFFF;
    border: #FFFFFF;
    border: transparent;
    font-family: "SFDBold";
    font-size: 20px;
}

.tabs:hover {
    background-color: #120036;
    color: #FFFFFF;
    border: #FFFFFF;
    border: transparent;
    text-decoration: underline;
    font-family: "SFDBold";
    font-size: 20px;
    cursor: pointer
}

body {
    color: white;
    background-color: #120036;
    font-family: "SFD";
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
}

button {
    background-color: #120036;
    color: #FFFFFF;
    border: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px;
    font-family: "SFDBold";
}

#nav {
    text-align: center;
    scale: 1.2
}

#gootles {
    display: flex;
    align-items: center;
}

h1 {
    font-family: "SFDBold";
}