@font-face {
    font-family: 'Raleway';
    src: url('/assets/Raleway-VariableFont_wght.ttf') format('truetype');
}

.purple {
    color: #3300ff
}

body {
    background-color: #D7C3FF;
    font-family: "Raleway";
}

button {
    outline: #3300FF;
    background-color: #B088FF;
    color: #3300FF;
    outline-width: 10;
    font-family: "Raleway";
    font-size: 100;
}